:root{
    --background-color: rgb(46, 61, 79);
    --content-color: rgb(216, 233, 232);
    --submit-button-color: rgb(0, 189, 156);
    --goback-button-color: rgb(233, 75, 103);
    --font-color-white: white;
}

*{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body{
    background-color: var(--background-color);
    font-family: 'Fira Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content{
    background-color: var(--content-color);
    width: 75%;
    height: fit-content;
    padding: 1rem;
    margin: auto;
    text-align: center;
}

.result-main{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.form-content{
    width: 25%;
    background-color: var(--content-color);
    padding: 1rem;
}

.result-content{
    width: 75%;
}

h1{
    font-size: 2rem;
    margin: 1rem;
}

h2{
    font-size: 1.5rem;
    margin: 1rem;
    color: var(--font-color-white);
}

input, select, button{
    width: 100%;
    margin: 0.3rem;
    line-height: 2rem;
    padding: 0.3rem;
    font-size: 1.2rem;
}

button{
    background-color: var(--submit-button-color);
    border: none;
    border-radius: 0.3rem;
}

#goback-button{
    background-color: var(--goback-button-color);
}